.details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.orders {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

